.wpmetricslab-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f6f7f7;
    border-radius: 12px;
}

.wpmetricslab-form div {
    flex: 1 1 300px;
    max-width: calc(33.333% - 20px);
}

.wpmetricslab-form label {
    display: block;
    margin-bottom: 5px;
}

.wpmetricslab-form input[type="date"],
.wpmetricslab-form input[type="text"],
.wpmetricslab-form select,
.wpmetricslab-form input[type="submit"],
.wpmetricslab-form button[type="submit"] {
    width: 100%;
    max-width: 100% !important;
    padding: 8px;
    border-radius: 6px !important;
}
