.wpmetricslab-activity-log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.wpmetricslab-activity-log-table th,
.wpmetricslab-activity-log-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.wpmetricslab-activity-log-table .user-agent,
.wpmetricslab-activity-log-table .url {
    width: 15%;
}

.wpmetricslab-activity-log-table .activity,
.wpmetricslab-activity-log-table .event-type {
    width: 7%;
}

.wpmetricslab-activity-log-table .checkbox {
    width: 2%;
}

.wpmetricslab-activity-log-table .id {
    width: 3.5%;
}

.wpmetricslab-activity-log-table .fas {
    font-size: 1.25rem;
}
